---
export const prerender = false;

import SearchBar from "@/components/SearchBar.astro";
import { eq } from "astro:db";
import { File as DbFile } from "astro:db";
import { db } from "astro:db";
import { InternalError } from "@/utils/InternalError";

// Astro component script
const params = Astro.url.searchParams;
const fileId = params.get("key");

let file = fileId
  ? await db.select().from(DbFile).where(eq(DbFile.id, fileId)).get()
  : null;

if (!file) {
  throw new InternalError(404, "File Not Found");
}
---

<html>
  <head>
    <title>File Details</title>
    <link rel="stylesheet" href="/src/assets/styles.css" />
  </head>
  <body>
    <header class="navbar">
      <a href="/" class="navbar-title">File Server</a>
      <SearchBar action="/file" />
    </header>
    <main>
      <h1>File Details</h1>
      <section>
        <h2>Filename: {file.name}</h2>
        <pre class="file-content">{file.content}</pre>
        <div class="file-buttons">
          <button
            id="copy-button"
            class="file-button"
            data-content={file.content}>Copy</button
          >
          <button id="download-button" class="file-button" data-key={file.id}>
            Download
          </button>
          <button id="share-button" class="file-button">Share</button>
        </div>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const copyButton = document.getElementById("copy-button")!;
        const downloadButton = document.getElementById("download-button")!;
        const shareButton = document.getElementById("share-button")!;

        const copyContent = () => {
          const fileContent = copyButton.dataset.content;
          if (!fileContent) throw new Error("Could not get file content");
          navigator.clipboard.writeText(fileContent).then(() => {
            alert("Content copied to clipboard!");
          });
        };

        const downloadContent = () => {
          const fileKey = downloadButton.dataset.key;
          if (!fileKey) throw new Error("Could not get file key");
          window.location.href = `/download?key=${fileKey}`;
        };

        const shareContent = () => {
          navigator.clipboard.writeText(window.location.href).then(() => {
            alert("Current location copied to clipboard!");
          });
        };

        document
          .getElementById("copy-button")
          ?.addEventListener("click", copyContent);
        document
          .getElementById("download-button")
          ?.addEventListener("click", downloadContent);
        document
          .getElementById("share-button")
          ?.addEventListener("click", shareContent);
      });
    </script>
  </body>
</html>
